<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New {{ model }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add New {{ model }}</h1>
    <form action="{{ url_for('add_item', model=model) }}" method="post">
        {% for column in columns %}
        <div>
            <label for="{{ column }}">{{ column }}:</label>
            <input type="text" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }}">
        </div>
        {% endfor %}
        <button type="submit">Add</button>
    </form>
</body>
</html>