<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New {{ model }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add New {{ model }}</h1>
    <form action="{{ url_for('add_item', model=model) }}" method="post">
        {% for column in columns %}
        <div>
            <label for="{{ column }}">{{ column }}:</label>

            {% if column == 'snidane' or column == 'vratna_rezervace' %}
                <select id="{{ column }}" name="{{ column }}">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>

            {% elif column == 'stav' %}
                <select id="{{ column }}" name="{{ column }}">
                    <option value="Probiha">Probiha</option>
                    <option value="Dokoncena">Dokoncena</option>
                </select>

            {% elif column == 'zeme_nazev' %}
                <input type="text" id="zeme_nazev" name="zeme_nazev" placeholder="Enter Zeme name">

            {% elif column == 'typ_pokoje_nazev' %}
                <input type="text" id="typ_pokoje_nazev" name="typ_pokoje_nazev" placeholder="Enter Typ pokoje name">

            {% else %}
                <input type="text" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }}">
            {% endif %}
        </div>
        {% endfor %}

        {% if model == 'Rezervace' %}
        <div class="rezervace-buttons">
            <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_adresa') }}', 'adresaWindow', 'width=800,height=600')">
                <button type="button">Adresy</button>
            </a>
            <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_zakaznik') }}', 'zakaznikWindow', 'width=800,height=600')">
                <button type="button">Zákazníci</button>
            </a>
            <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_doprava') }}', 'dopravaWindow', 'width=800,height=600')">
                <button type="button">Doprava</button>
            </a>
        </div>
        {% endif %}

        <button type="submit">Add</button>
    </form>
</body>
</html>
