<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Find Items</h1>
    <form action="{{ url_for('find_items', model=model) }}" method="post">
        {% for column in columns %}
        <div>
            <label for="{{ column }}">{{ column }}:</label>
            <input type="text" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }}">
        </div>
        {% endfor %}
        <button type="submit">Search</button>
    </form>

    {% if model == 'Rezervace' %}
    <div class="rezervace-buttons">
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_adresa') }}', 'adresaWindow', 'width=800,height=600')">
            <button>Adresy</button>
        </a>
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_zakaznik') }}', 'zakaznikWindow', 'width=800,height=600')">
            <button>Zákazníci</button>
        </a>
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_doprava') }}', 'dopravaWindow', 'width=800,height=600')">
            <button>Doprava</button>
        </a>
    </div>
    {% endif %}

</body>
</html>
