<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of {{ model }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>List of {{ model }}</h1>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% for value in item %}
                <td>{{ value }}</td>
                {% endfor %}
                <td>
                    <a href="{{ url_for('update_item', model=model, id=item[0]) }}"><button>Update</button></a>
                    <a href="{{ url_for('delete_item', model=model, id=item[0]) }}"><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="add-item-button">
        <a href="{{ url_for('add_item', model=model) }}"><button>Add</button></a>
    </div>
    <div class="fixed-find-button">
        <a href="{{ url_for('find_items', model=model) }}"><button>Find</button></a>
    </div>

    {% if model == 'Rezervace' %}
    <div class="rezervace-buttons">
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_adresa') }}', 'adresaWindow', 'width=800,height=600')">
            <button>Adresy</button>
        </a>
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_zakaznik') }}', 'zakaznikWindow', 'width=800,height=600')">
            <button>Zákazníci</button>
        </a>
        <a href="javascript:void(0)" onclick="window.open('{{ url_for('list_doprava') }}', 'dopravaWindow', 'width=800,height=600')">
            <button>Doprava</button>
        </a>
    </div>
    {% endif %}

</body>
</html>